{:pods {clj-kondo/clj-kondo {:version "2022.05.31"}}
 :deps {io.github.borkdude/quickdoc
        #_{:local/root "/Users/borkdude/dev/quickdoc"}
        {:git/sha "d5313344c97b79f014a90634313b5fd2205938af"}
        current/deps {:local/root "."}
        io.github.borkdude/gh-release-artifact
        {:git/sha "cf082df46a648178d1904e9cbcb787d8136a35c6"}}
 :paths [".build"]
 :tasks
 {:requires ([clojure.edn :as edn]
             [clojure.string :as str]
             [babashka.cli :as cli]
             [utils])
  :init (def cmd-line-opts
          (cli/parse-opts *command-line-args*
                          {:coerce {:toc parse-boolean
                                    :skip-bump parse-boolean}}))
  quickdoc {:doc "Invoke quickdoc"
            :requires ([quickdoc.api :as api])
            :task (let [{:keys [markdown]}
                        (api/quickdoc {:toc true
                                       :git/branch "main"
                                       :github/repo "https://github.com/babashka/http-server"})])}

  package-jar {:doc "Prepare jar for packages"
               :task (do
                       (println "Producing uberjar")
                       (shell "bb --config .build/uberjar.edn --deps-root .
                              uberjar http-server.jar -m babashka.http-server"))}

  upload-jar {:doc "Upload jar to release"
              :depends [package-jar]
              :requires ([borkdude.gh-release-artifact :as ghr])
              :task (do
                      (println "Uploading jar" (str "v" (utils/format-version)))
                      (ghr/overwrite-asset {:org "babashka"
                                            :repo "http-server"
                                            :file "http-server.jar"
                                            :draft false
                                            :tag (str "v" (utils/format-version))}))}

  tag {:doc "Create and push tag"
       :task (do (shell "git tag" (str "v" (utils/format-version)))
                 (shell "git push --tags"))}

  bump-release {:doc "Bump release counter"
                :task (let [old-version (utils/format-version)]
                        (utils/bump-version)
                        (spit "README.md" (str/replace (slurp "README.md")
                                                       old-version
                                                       (utils/format-version)))
                        (shell "git add version.edn README.md")
                        (shell "git commit -m" (str "v" (utils/format-version))))}

  publish {:doc "Bump release count and publish to clojars"
           :task (do
                   (when-not (:skip-bump cmd-line-opts)
                     (run 'bump-release))
                   (println "Uploading jar")
                   (run 'tag)
                   (run 'upload-jar)
                   (clojure "-T:build deploy"))}

  }}
