{:pods {clj-kondo/clj-kondo {:version "2022.05.31"}}
 :deps {io.github.borkdude/quickdoc
        #_{:local/root "/Users/borkdude/dev/quickdoc"}
        {:git/sha "d5313344c97b79f014a90634313b5fd2205938af"}
        current/deps {:local/root "."}}
 :paths [".build"]
 :tasks
 {quickdoc {:doc "Invoke quickdoc"
            :requires ([quickdoc.api :as api])
            :task (let [{:keys [markdown]}
                        (api/quickdoc {:toc true
                                       :git/branch "main"
                                       :github/repo "https://github.com/babashka/http-server"})])}
  bump-release {:doc "Bump release counter"
                :requires ([utils]
                           [clojure.string :as str])
                :task (let [old-version (utils/format-version)]
                        (utils/bump-version)
                        (spit "README.md" (str/replace (slurp "README.md")
                                                       old-version
                                                       (utils/format-version)))
                        (shell "git add version.edn README.md")
                        (shell "git commit -m" (str "v" (utils/format-version)))
                        (shell "git tag" (str "v" (utils/format-version)))
                        (shell "git push --tags"))}}}
